{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="form">
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="username_or_email_or_phone" class="input-field" placeholder="Username, Email or Phone">
        <input type="password" name="password" class="input-field" placeholder="Password">
        <button type="submit" class="btn">Login</button>
        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}
    </form>
</div>
{% endblock %}
